/.gitee/
/.vscode/
/.idea/
/cmake-build-debug/
*.a
*.o
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.sgml
*.log
*.inc
*.rej

objfiles.txt

/tmp_build/
/output/
/mppdb_temp_install/
/GNUmakefile
/config.status
/ereport.txt

/build/script/version.cfg
src/bin/gs_loader/gs_loader
src/bin/gs_loader/vex_loader
src/common/interfaces/ecpg/preproc/c_kwlist_d.h
src/common/interfaces/ecpg/preproc/ecpg
src/common/interfaces/ecpg/preproc/ecpg_kwlist_d.h
src/common/interfaces/ecpg/preproc/kwlookup.cpp
src/common/interfaces/ecpg/preproc/pgc.cpp
src/common/interfaces/ecpg/preproc/preproc.cpp
src/common/interfaces/ecpg/preproc/preproc.hpp
src/common/interfaces/ecpg/preproc/preproc.output
src/common/interfaces/ecpg/preproc/preproc.y
src/common/interfaces/libpq/jdbc/jdbc.lock
src/common/pl/plpgsql/src/pl_reserved_kwlist_d.h
src/common/pl/plpgsql/src/pl_unreserved_kwlist_d.h
src/gausskernel/storage/xlog_share_storage/errmsg_bak.h
src/include/cm/cm_errcodes.h
src/include/parser/kwlist_d.h
src/lib/cm_common/cm_errcodes.h
src/lib/page_compression/cfs_tools.cpp
src/lib/page_compression/checksum_impl.cpp
src/lib/page_compression/pg_lzcompress.cpp
src/lib/page_compression/pg_lzcompress.h
src/lib/page_compression/pgsleep.cpp
src/lib/page_compression/storage/
src/lib/page_compression/utils/
src/test/regress/.sql/
